/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
  --rich-black-fogra-29: hsl(217, 28%, 9%);
  --gray-x-11-gray: hsl(0, 0%, 74%);
  --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
  --bittersweet: hsla(143, 84%, 23%, 1);
  --smoky-black: rgb(7, 6, 1);
  --gainsboro: hsl(0, 0%, 88%);
  --black_90: hsla(0, 0%, 0%, 0.9);
  --cultured: hsl(200, 12%, 95%);
  --salmon: rgb(12, 89, 42);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */

  --fs-1: 3rem;
  --fs-2: 2.6rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.6rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /**
   * spacing
   */

  --section-padding: 60px;
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
table,
tbody,
button,
ion-icon {
  display: block;
}

button,
input {
  font: inherit;
  background: none;
  border: none;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
  line-height: 1.8;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--white);
  font-size: 1.6rem;
  padding-block-start: 90px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.section-title {
  position: relative;
  margin-bottom: 80px;
  text-align: center;
}

.section-title::after {
  content: "";
  position: absolute;
  background-color: var(--rich-black-fogra-29);
  height: 3px;
  width: 100px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.h1,
.h2,
.h3,
.h4 {
  color: var(--rich-black-fogra-29);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-300);
  line-height: 1.5;
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-4);
}

.h4 {
  font-size: var(--fs-5);
  text-transform: uppercase;
}

.btn {
  background: var(--background, var(--bittersweet));
  color: var(--color, var(--white));
  font-size: var(--fs-5);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 25px;
  border: 1px solid var(--border-color, var(--bittersweet));
}

.btn-primary:is(:hover, :focus) {
  --background: var(--salmon);
  --border-color: var(--salmon);
}

.btn-secondary {
  --background: transparent;
  --border-color: var(--black);
  --color: var(--black);
}

.btn-secondary:is(:hover, :focus) {
  --background: hsla(0, 0%, 0%, 0.1);
}

.has-scrollbar {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 20px;
  outline: 2px solid var(--bittersweet);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--bittersweet);
  border: 2px solid var(--white);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}

.card-banner {
  background: var(--cultured);
  position: relative;
  height: 350px;
  overflow: hidden;
}

.image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: var(--transition-2);
  -webkit-transition: var(--transition-2);
  -moz-transition: var(--transition-2);
  -ms-transition: var(--transition-2);
  -o-transition: var(--transition-2);
}

.product-card:is(:hover, :focus) .image-contain {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.card-content {
  padding: 24px 15px 0;
  text-align: center;
}

.card-cat {
  text-transform: capitalize;
  color: var(--onyx);
  font-size: var(--fs-7);
  margin-bottom: 12px;
}

.product-card .card-title {
  margin-bottom: 12px;
  text-transform: capitalize;
  font-size: 23px;
}

/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header.active {
  box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.nav-open-btn {
  font-size: 30px;
  background: var(--bittersweet);
  color: var(--white);
  padding: 8px;
}

.nav-open-btn:is(:hover, :focus) {
  background: var(--salmon);
}

.nav-open-btn ion-icon {
  --ionicon-stroke-width: 40px;
}

.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 270px;
  height: 100%;
  border-right: 3px solid var(--rich-black-fogra-29);
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 2;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(280px);
  transition: 0.5s var(--cubic-in);
}

.nav-close-btn {
  color: var(--rich-black-fogra-29);
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px;
  font-size: 25px;
  transition: var(--transition-1);
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 55px;
}

.nav-close-btn:is(:hover, :focus) {
  color: var(--bittersweet);
}

.navbar .logo {
  background: var(--maximum-blue-green_10);
  padding-block: 50px 40px;
}

.navbar .logo img {
  margin-inline: auto;
}

.navbar-list,
.nav-action-list {
  margin: 30px;
}

.navbar-list {
  padding: 20px;
  border-bottom: 1px solid var(--gainsboro);
}

.navbar-link {
  color: var(--rich-black-fogra-29);
  padding-block: 10px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
  color: var(--bittersweet);
}

.navbar-item:not(:last-child) {
  border-bottom: 1px solid var(--gainsboro);
}

.nav-action-list > li:first-child {
  display: none;
}

.nav-action-btn {
  color: var(--rich-black-fogra-29);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-block: 10px;
  transition: var(--transition-1);
}

.nav-action-btn:is(:hover, :focus) {
  color: var(--bittersweet);
}

.nav-action-btn ion-icon {
  font-size: 22px;
  --ionicon-stroke-width: 25px;
}

.nav-action-text strong {
  font-weight: initial;
  color: var(--bittersweet);
}

.nav-action-badge {
  margin-left: auto;
  font-size: var(--fs-8);
  background: var(--bittersweet);
  color: var(--white);
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.6);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background-image: url("../images/hero-banner.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: -1;
}

.hero-title {
  margin-bottom: 10px;
  color: var(--white);
}

.hero-title > strong {
  display: block;
}

.hero-text {
  color: var(--white);
  font-size: var(--fs-6);
  line-height: 1.8;
  max-width: 46ch;
  margin: auto;
}

/*-----------------------------------*\
 * #main-products
\*-----------------------------------*/

.main-products-card {
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 45px 25px;
}

.main-products-card img {
  max-width: 100%;
  width: 190px;
}

/*-----------------------------------*\
 * #last-news
\*-----------------------------------*/

.last-news-list {
  display: grid;
  gap: 25px;
}

.last-news-card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
  text-align: center;
  padding: 50px 20px;
  cursor: pointer;
  z-index: 1;
}

.last-news-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: -1;
}

.last-news-card .card-title {
  color: inherit;
  line-height: 1.3;
  margin-bottom: 20px;
}

.last-news-card .news-date {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

/*-----------------------------------*\
 * #empresa
\*-----------------------------------*/

.empresa .content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 15px;
}

.empresa .content h3 {
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--bittersweet);
  margin-bottom: 30px;
}

.empresa .content .info p {
  line-height: 1.8;
}

.empresa .content .info p:not(:nth-of-type(2)) {
  color: var(--onyx);
}

.empresa .content .info p:nth-of-type(2) {
  color: var(--rich-black-fogra-29);
  font-size: 18px;
  padding: 15px;
  border-left: 4px solid var(--black);
  margin: 20px 0;
}

.empresa .content .instalaciones .images-slider {
  position: relative;
  height: 400px;
}

.empresa .content .instalaciones .images-slider img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
}

.empresa .content .instalaciones .images-slider img.active {
  opacity: 1;
}

.empresa .content .instalaciones .images-slider .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  cursor: pointer;
  font-size: 35px;
  z-index: 1;
}
.empresa .content .instalaciones .images-slider .left {
  left: 25px;
}
.empresa .content .instalaciones .images-slider .right {
  right: 25px;
}

.empresa .content .instalaciones .images-slider .left.disabled,
.empresa .content .instalaciones .images-slider .right.disabled {
  color: rgba(255, 255, 255, 0.5);
  cursor: no-drop;
}

.empresa .content .instalaciones .images-slider .bullets {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  padding: 5px 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: flex;
  gap: 10px;
  z-index: 1;
}

.empresa .content .instalaciones .images-slider .bullets li {
  width: 17px;
  height: 17px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.empresa .content .instalaciones .images-slider .bullets li.active {
  background-color: var(--white);
}

/*-----------------------------------*\
 * #marcas
\*-----------------------------------*/

.marcas-list {
  gap: 25px;
  padding: 0 15px;
}

.marcas-list .marcas-item {
  position: relative;
  min-width: 33.33%;
  aspect-ratio: 1 / 1;
}

.marcas-list .marcas-item img {
  height: 100px;
}

/*-----------------------------------*\
 * #nosotros
\*-----------------------------------*/

.nosotros {
  padding-top: 120px;
}

.nosotros h2 {
  margin-bottom: 10px;
}

.nosotros h2::after {
  bottom: -65px;
}

.nosotros h2 + p {
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
  color: #777;
  margin-bottom: 80px;
}

.nosotros .nosotros-content p {
  line-height: 1.8;
  color: var(--onyx);
  margin-bottom: 40px;
}

.nosotros .nosotros-content > img {
  max-width: 100%;
  margin: 0 auto 40px;
}

.nosotros .nosotros-content .nosotros-images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.nosotros .nosotros-content .nosotros-images > div:first-of-type img {
  height: 250px;
  width: 100%;
  max-width: 100%;
}

.nosotros
  .nosotros-content
  .nosotros-images
  > div:first-of-type
  img:first-of-type {
  margin-bottom: 5px;
}

.nosotros .nosotros-content .nosotros-images > div:last-of-type img {
  height: 100%;
  max-width: 100%;
}

/*-----------------------------------*\
 * #PRODUCT
\*-----------------------------------*/

.product {
  padding-top: 120px;
}

.product h2 {
  margin-bottom: 10px;
}

.product h2::after {
  bottom: -65px;
}

.product h2 + p {
  text-align: center;
  font-size: 22px;
  color: #777;
  margin-bottom: 80px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.filter-btn {
  color: var(--onyx);
  padding: 10px 16px;
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  border: 1px solid var(--gainsboro);
  border-radius: 30px;
}

.filter-btn.active {
  background: var(--bittersweet);
  color: var(--white);
  border-color: var(--bittersweet);
}

.product-list {
  display: grid;
  gap: 50px 25px;
}

.product-list .product-item img {
  width: 200px;
  margin: auto;
}

/*-----------------------------------*\
 * #quality
\*-----------------------------------*/

.quality {
  padding-top: 120px;
}

.quality h2 {
  margin-bottom: 10px;
}

.quality h2::after {
  bottom: -65px;
}

.quality h2 + p {
  text-align: center;
  font-size: 22px;
  color: #777;
  margin-bottom: 80px;
}

.quality .content > p {
  line-height: 1.8;
  color: var(--onyx);
  margin-bottom: 20px;
}

.quality .content > p:last-of-type {
  margin-bottom: 50px;
}

.quality .content .certificacion:not(:last-child) {
  margin-bottom: 40px;
}

.quality .content .certificacion h3 {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .quality .content .certificacion h3 {
    text-align: center;
  }
}

.quality .content .certificacion .info {
  display: flex;
  gap: 30px;
}

.quality .content .certificacion .info img {
  max-width: 100%;
  width: 130px;
}

@media (max-width: 767px) {
  .quality .content .certificacion .info {
    flex-direction: column;
    text-align: center;
  }
  .quality .content .certificacion .info img {
    margin: auto;
  }
}

.quality .content .certificacion .info .text {
  width: 100%;
  line-height: 1.8;
  color: var(--onyx);
}

/*-----------------------------------*\
 * #contact
\*-----------------------------------*/

.contact .container .form-holder h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 50px;
}
.contact .container .form-holder form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.contact .container .form-holder form .input-holder {
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .contact .container .form-holder form .input-holder {
    width: 100%;
  }
}
.contact .container .form-holder form .textarea-holder {
  width: 100%;
}
.contact .container .form-holder form label {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}
.contact .container .form-holder form .main-input {
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact .container .form-holder form .main-input:focus {
  outline: none;
}
.contact .container .form-holder form textarea {
  height: 200px;
  resize: none;
}
.contact .container .form-holder form input[type="submit"] {
  border: 0;
  padding: 15px 40px;
  width: fit-content;
  background-color: var(--bittersweet);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer-top {
  background: var(--cultured);
}

.footer-brand {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--gainsboro);
  margin-bottom: 50px;
}

.footer-brand .logo {
  margin-bottom: 15px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-link {
  background: var(--gainsboro);
  color: var(--onyx);
  font-size: 20px;
  padding: 10px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
  background: var(--bittersweet);
  color: var(--white);
}

.footer-list-title {
  position: relative;
  color: var(--rich-black-fogra-29);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 25px;
}

.footer-list-title::after {
  content: "";
  display: block;
  background: var(--bittersweet);
  width: 50px;
  height: 2px;
  margin-top: 10px;
}

.footer-link {
  color: var(--onyx);
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 6px;
  transition: var(--transition-1);
}

a.footer-link:is(:hover, :focus) {
  color: var(--bittersweet);
}

.footer-link-text {
  flex: 1;
}

.footer-list:not(:last-child) {
  margin-bottom: 30px;
}

.footer-list:first-child ion-icon {
  color: var(--bittersweet);
  font-size: 22px;
}

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-block: 6px;
}

.table-head {
  color: var(--rich-black-fogra-29);
  font-weight: var(--fw-500);
}

.table-data {
  color: var(--onyx);
}

.newsletter-text {
  color: var(--onyx);
  line-height: 1.7;
  margin-bottom: 20px;
}

.newsletter-form {
  position: relative;
}

.newsletter-input {
  background: var(--white);
  color: var(--onyx);
  padding: 15px 25px;
  padding-right: 120px;
}

.newsletter-form .btn-primary {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  padding-inline: 20px;
}

.footer-bottom {
  background: var(--rich-black-fogra-29);
  padding-block: 20px;
}

.copyright {
  text-align: center;
  color: var(--white);
}

.copyright-link {
  display: inline-block;
  color: var(--bittersweet);
}

/*-----------------------------------*\
 * #GO TOP
\*-----------------------------------*/

.go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--bittersweet);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  border: 4px solid var(--white);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
  z-index: 2;
}

.go-top-btn.active {
  opacity: 1;
  visibility: visible;
}

.go-top-btn:is(:hover, :focus) {
  background: var(--salmon);
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 4rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 650px;
    width: 100%;
    margin-inline: auto;
  }

  .has-scrollbar > li {
    min-width: calc(50% - 12.5px);
  }

  /**
   * HERO
   */

  .hero-text {
    font-size: var(--fs-5);
  }

  /**
   * main-products
   */

  .main-products-list > li {
    min-width: calc(50% - 12.5px);
  }

  /**
   * last-news
   */

  .last-news-card {
    text-align: left;
  }

  /**
   * empresa
   */

  .empresa .content {
    padding: 0 50px;
  }

  /**
   * marcas
   */

  .marcas-list .marcas-item {
    min-width: 25%;
  }

  /**
   * PRODUCTS
   */

  .product-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * FOOTER
   */

  .footer-brand .logo {
    margin-bottom: 0;
  }

  .footer-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 3rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .h4 {
    --fs-5: 2rem;
  }

  /**
   * marcas
   */

  .marcas-list .marcas-item {
    min-width: 20%;
  }

  /**
   * GO TOP
   */

  .go-top-btn {
    padding: 15px;
    border-width: 6px;
    bottom: 30px;
    right: 30px;
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-3: 2.4rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 970px;
  }

  .has-scrollbar > li {
    min-width: calc(33.33% - 16.66px);
  }

  /**
   * HEADER
   */

  .nav-open-btn,
  .nav-close-btn,
  .navbar .logo,
  .nav-action-text,
  .overlay {
    display: none;
  }

  .navbar,
  .navbar-list,
  .nav-action-list {
    all: unset;
  }

  .navbar-item:not(:last-child) {
    border: none;
  }

  .navbar-list,
  .nav-action-list {
    display: flex;
  }

  .nav-action-list {
    gap: 20px;
  }

  .navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-list {
    margin-inline: auto;
    gap: 35px;
  }

  .navbar-link {
    font-weight: var(--fw-500);
  }

  .nav-action-list > li:first-child {
    display: block;
  }

  .nav-action-btn {
    position: relative;
  }

  .nav-action-badge ion-icon {
    --ionicon-stroke-width: 30px;
  }

  .nav-action-badge {
    position: absolute;
    top: 5px;
    right: -12px;
  }

  /**
   * HERO
   */

  .hero {
    height: 480px;
  }

  /**
   * main-products
   */

  .main-products-list > li {
    min-width: calc(33.33% - 16.66px);
  }

  /**
   * last-news
   */

  .last-news-list {
    grid-template-columns: 1fr 1fr;
  }

  .last-news-card {
    padding-inline: 50px;
  }

  /**
   * empresa
   */

  .empresa .content {
    flex-direction: row;
  }

  .empresa .content .info {
    width: 65%;
  }

  .empresa .content .instalaciones {
    width: 35%;
  }

  /**
   * marcas
   */

  .marcas-list .marcas-item {
    min-width: 16.666%;
  }

  /**
   * nosotros
   */

  .nosotros .nosotros-content .nosotros-images {
    flex-direction: row;
  }

  /**
   * PRODUCTS
   */

  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 5rem;
    --fs-2: 3.6rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1280px;
  }

  /**
   * HERO
   */

  .hero {
    height: 580px;
  }

  .hero-text {
    font-size: var(--fs-4);
    max-width: 50ch;
  }

  /**
   * main-products
   */

  .main-products-list {
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: visible;
  }

  .main-products-list > li {
    min-width: calc(25% - 25px);
    flex: 0 0 auto;
  }

  /**
   * empresa
   */

  .empresa .content {
    padding: 0 100px;
  }

  /**
   * marcas
   */

  .marcas {
    padding-block-end: 0;
  }

  .marcas-list .marcas-item {
    min-width: 12.5%;
  }

  .marcas-list {
    padding-bottom: 0;
  }

  /**
   * PRODUCTS
   */

  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }

  /**
   * FOOTER
   */

  .footer-link-box {
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    gap: 50px;
  }
}
